
.food-container{
  width:318px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  height: fit-content;
  margin:50px auto;
  padding:10px 10px;
  background-image: linear-gradient(100deg, #689afe 40%, #e478fd 90%);
  border-radius: 30px;
  align-items: center;

}
.food-img{
  width:100%;
  border-radius: 24px;


}
.p{
  margin-top:10px;
  font-weight: bolder;
  font-size: 20px;
}
.btn{
  background-color: black;
  color:white;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-top:10px;
  font-weight: bolder;
  
}
.food{
  display: flex ;
flex-wrap: wrap;
align-items: center;
  justify-content: center;
}
.food-name{
  font-size: 20px;
  font-weight: bolder;
  margin-top:10px;
  background: rgb(205, 203, 203,0.6);
  border-radius: 10px;
  text-align: center;

  
}
.food-des{
  font-size:16px;
  font-weight: 500;
  margin-top:-5px;

  
}

.food-price{
  font-size:20px;
  font-weight: bolder;
  margin-top:10px;
  background:  rgba(11, 239, 11, 0.6);
  color: rgb(200, 243, 200);
  border-radius: 10px;
  padding: 2px;
  text-align: center;
 width: 70px;

  
}


